a{
	color: black;
}
.btn{
	margin-left: 5%;
}
.nom{
	margin-left: 5%;
	font-weight: bold;
	/*cursor: default; pour désactiver le lien*/

}
.nom:hover{
	color: black;
}
.ml-auto{
	margin-right: 20%;
}
nav{
    background: #F3D279;
}
.nav-item{
	margin-right: 20%;
}
.mage{
	height: 25vh;
	width: 100%;
}
.mage2{
	height: 25vh;
	width: 100%;
}
.icon{
  float: right;
  height: 7vh;
  width: 4%;
}
.icons{
  position: absolute;
  top: 80px;
  right: 150px;
}
.ic{
  position: absolute;
  float: right;
  right: -90px;
  top: 7px;
}
.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 30px 8px 0px 16px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 180px;
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .snav{
      margin-top: 5%;
  }
  .card{
      height: 50vh;
  }
  .mages{
      height: 20vh;
  }
  /*modal image*/
  #myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: white; /* Fallback color */
  /*background-color: rgba(0,0,0,0.7);  Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 65px;
  right: 35px;
  color: black;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
  
/**/
.divi{
  position: absolute;
  margin-top: 10%;
  
  }

  .rounded{
  height: 27vh;
  width: 20%;
  margin-bottom: 100px;
}
.mod{
  position: absolute;
  margin-top: -10%;
  font-size: 35px;
  
}
b{
  margin-left: 30%;
}